<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Skip-bo | Lobby</title>
    <%- include('shared/head') %>
  </head>
  <body>
    <div id="container">
      <%- include('shared/menu') %>
      <h1>
        
        Welcome <%= user.email %> (<%= user.user_id %>)
      </h1>

      Game page <%= gameId %>
    </div>
    <%# TODO: uncomment later %>
    <%# include('shared/templates') %>
  </body>
</html>